<!DOCTYPE HTML>
<!-- This file is for practicing the use of Vuejs
    partially referred to "https://cn.vuejs.org/v2/guide/" -->
<html>
    <head>
        <meta charset="utf-8">
        <title>Vuejs</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1 id="embedded">{{ pagetitle }}</h1>
        <div id="binding">
            <h2 v-bind:title="text">
                {{ text1 }}
            </h2>
            <p v-if="seen">
                {{ text2 }}
            </p>
        </div>
        <div id="list">
            <ul>
                <li v-for="item in items">
                    {{ item.text }}
                </li>
            </ul>
        </div>
        <!-- The following is for user interaction -->
        <div id="event">
            <h2 v-on:click="onclick">{{ time }}</h2>
        </div>
        <script type="text/javascript">
            "use strict"
            let app = new Vue ({
                el: '#embedded',
                data: {
                    pagetitle: "This is a simple showcase of Vuejs!"
                }
            });
            app.pagetitle = "Ooooops, it has been changed!";

            let app0 = new Vue ({
                el: '#binding',
                data: {
                    seen: true,
                    text: "Data binding test, the time is " + new Date().toLocaleString(),
                    text1: "Look at the dynamically binding instruction!",
                    text2: "Test the condition of Vuejs!"
                }
            });
            app0.text = "The message is updated again!";
            /* If this line is commented out, the 'seen property will be set to
                false and text2 will be hidden */
            // app0.seen = false;

            let app1 = new Vue ({
                el: '#list',
                data: {
                    items: [
                        {text: "I want to do the job well!"},
                        {text: "Web tech is worthwhile to learn!"},
                        {text: "A wonderful future is waiting for you!"}
                    ]
                }
            });
            app1.items.push({text: "Oh, this is newly added!"});

            /* Click function below */
            let app2 = new Vue ({
                el: '#event',
                data: {
                    time: "Click me to view the changes!"
                },
                methods: {
                    onclick: function () {
                        this.time = "Time is now " + new Date();
                    }
                }
            });
        </script>
    </body>
</html>
